.toolbar {
    display: flex;
    height: auto;
    background: black;
    max-height: 20px;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    align-content: center;
    }
  
  .Logo{
    width: 238px;
  }