<div class="posionImg">
    <img class="img" src="{{sessionMovie.image}}">
</div>
<div class="content">
    <div class="posionTitle">
        <mat-card-title class="title">
            {{sessionMovie.title}}
        </mat-card-title>
    </div>
</div>
<div class="content1">
    <mat-card class="card" *ngFor="let movie of theatersMovie">
        <mat-card-title class="name">
                <img class="icon" src="../../../assets/ico/heart (64).png">
                {{movie.name}}
        </mat-card-title>
        <mat-card-subtitle class="address">
            {{movie.address}} {{movie.addressComplement}}
        </mat-card-subtitle>
        <hr>

        <mat-card-title class="room" *ngFor="let room of movie.rooms">
            {{room.name}} - <span class="language" *ngFor="let type of room.types">{{type}}</span><br> 
            <span class="posionTime">
                <span class="time" *ngFor="let session of room.sessions"  (click)="onNavigateTo('cadastro')"> {{session.time}}</span>
            </span> <br>
            <span class="price" *ngFor="let session of room.sessions">{{session.price | currency: 'BRL': true :'1.2-2'}}</span>
        </mat-card-title>
    </mat-card>
</div>