<div class="content">
    <form class="form">
        <mat-form-field class="campo">
            <input matInput placeholder="Nome"/>
        </mat-form-field>
        <mat-form-field class="campo">
            <input matInput placeholder="E-mail"/>
        </mat-form-field>
        <mat-form-field class="campo">
            <input matInput placeholder="Telefone"/>
        </mat-form-field>
        <section class="termo">
            <mat-checkbox> Quero receber notificações</mat-checkbox>
            <mat-checkbox> Li e aceito os termo de uso</mat-checkbox>
        </section>
    </form>
    <button mat-raise-button class="sendButton"> Finalizar Cadastro</button>
</div>
