.content{
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    width: auto;
    padding: 1px;
}

.form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
}

.campo{
    width: 900px;
    height: 56px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #33333399;
    border-radius: 2px;
    opacity: 1;
}

.termo{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.sendButton{
    width: 900px;
    height: 32px;
    margin-top: 208px;
    color:#FFFFFF;
    background: #1E1E1E 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    align-items: flex-start;
    cursor: pointer;
}

.posionCampo{
    width: 900px;
    height: 56px;
    margin-top: 20px;
    margin-bottom:16px ;
}