<div class="content">
    <form matForm class="form" [formGroup]="clienteForm">
        <mat-form-field class="posionCampo">
            <input matInput type="string" class="campo" formControlName="name" placeholder="Nome"/>
        </mat-form-field>
        <mat-form-field class="posionCampo">
            <input matInput type="email" class="campo" formControlName="email" placeholder="E-mail"/>
        </mat-form-field>
        <mat-form-field class="posionCampo">
            <input matInput type="number" class="campo" formControlName="phone" placeholder="Telefone"/>
        </mat-form-field>
        <section class="termo">
            <mat-checkbox class="checkBox"> Quero receber notificações</mat-checkbox>
            <mat-checkbox class="checkBox"> Li e aceito os termo de uso</mat-checkbox>
        </section>
        
        <button mat-raise-button type="submit" [disabled]="clienteForm.invalid" class="sendButton" (click)="onSubmit()" (click)="onNavigateTo('Info')">Finalizar Cadastro</button>
    </form> 
</div>
