/* You can add global styles to this file, and also import other style files */

@font-face{
    font-family: roboto;
    src: url(assets/fonts/Roboto-Medium.ttf) format("opentype");
}
@font-face{
    font-family: tt-norms;
    src: url(assets/fonts/TTNorms-Regular.otf) format("opentype");
}
@font-face {
    font-family: tt-normsBold;
    src: url(assets/fonts/TTNorms-Bold.otf) format("opentype");
}
@font-face {
    font-family: nunito;
    src: url(assets/fonts/Nunito-Regular.ttf) format("opentype");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
